form {
  display : block;
  margin-bottom : 1vh;
}
label,
input {
  margin-right : 50px;
}
input {
  width : 55vw;
}
label {
  width : 15vw;
}
button {
  width : 10vw;
}
#wrapper {
  width : 90vw;
  margin : 15vh auto;
  font-size : 150%;
}
